#address, #secret {
	font-family: "Lucida Console", Monaco, monospace;
}

h1 {
	margin-top: 100px;
}

form {
	margin: 20px 0;
}

.qrcode {
	margin: 20px 0;
}

#fork {
	background: url('../img/fork.png') right top no-repeat;
	display: block;
	height: 149px;
	position: absolute;
	right: 0;
	text-indent: -99999px;
	top 0;
	width: 149px;
}

footer {
	color: #999;
	font-size: small;
	margin-bottom: 100px;
}

#share {
	float: right;
}

#share div {
	display: inline-block;
	width: 100px !important;
}
